*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
p{
    font-size: 18px;
}
.text-tomato{
    color: #FF5E19;
}
/* Top Banner */
.top-banner{
    background:#000;
    background-size: cover;
    height: 100vh;
}
.top-banner h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 65px;
}
/* Budget Calculate */
.budget-calculate{
    margin-top: 30px;
}
.budget-calculate h2{
    border-bottom: 5px solid tomato;
    margin-top: 2px;
    display: block;
    width: 130px;
}
.budget-calculate p{
    font-size: 16px;
}
#total-cost p{
    font-size: 18px;
}